footer{
    width: 100% !important;
    padding:.5rem 1rem;
    bottom: 0;
    position: fixed;
  }
    a{
        color: rgba(0,0,0,0.5);
    }
li{
    padding-left :0.5vh;
    padding-right: 0.5vh;
}