<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-2">



			<form [formGroup]="postForm" (ngSubmit)="onSubmit()">

				<!-- <div class="form-group has-error">
    		        <label for="slug">Slug <span class="require">*</span> <small>(This field use in url path.)</small></label>
    		        <input type="text" class="form-control" name="slug" />
    		        <span class="help-block">Field not entered!</span>
    		    </div> -->

				<div class="form-group">
					<label for="title">Title <span class="require">*</span></label>
					<input type="text" class="form-control" formControlName="title" name="title" />
					<div *ngIf="submitted && postForm.controls.title.errors" class="invalid-feedback">
						<div *ngIf="postForm.controls.title.errors.required">Title is required</div>
					</div>
				</div>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea rows="5" class="form-control" formControlName="content" name="description"></textarea>
					<div *ngIf="submitted && postForm.controls.content.errors" class="invalid-feedback">
						<div *ngIf="postForm.controls.content.errors.required">Description is required</div>
					</div>
				</div>

				<div class="file-field">
					<div class="z-depth-1-half mb-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
							alt="example placeholder">
					</div>
					<div class="d-flex justify-content-center">
						<div class="btn btn-mdb-color btn-rounded float-left">
							<span>Choose file</span>
							<input type="file" (change)="handleFileInput($event.target.files)">
						</div>
					</div>
				</div>

				<div class="form-group">
					<p><span class="require">*</span> - required fields</p>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">
						Create
					</button>
					<button class="btn btn-default">
						Cancel
					</button>
				</div>

			</form>
		</div>

	</div>
</div>